.crew-page{
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-image: url('/src/images/background-crew-page.jpg');

    &__cards-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 55%;
        gap:10%;
        transform: translateY(20px);
        padding-left: 2.5%;
    }
}



/* Media queries para dispositivos más pequeños */
@media only screen and (max-width: 1024px) {
    .crew-page__cards-gallery {
        margin-top: 30px;
        grid-template-columns: repeat(1, 1fr); /* Cambia a una columna */
        gap: 0; /* Reduce el espacio entre tarjetas */
        width: 100%; /* Ocupa todo el ancho disponible en pantallas pequeñas */
        padding: 10px; /* Ajusta el padding */
        transform: translateX(7vw);
    }
}

@media only screen and (max-width: 768px) {
    .crew-page__cards-gallery {
        margin-top: 20px;
        transform: translateX(4.5vw);
    }
}
