.payments-list__content {
  background-color: rgba(0, 0, 0, 0.089);
  min-height: 60vh;
  display: flex;
  margin: 20px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10%;
  position: relative;
  flex-direction: column;

  .payments-list__empty {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .slick-slider {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .slick-list {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .slick-slider.slick-initialized {
    width: 90%;
    height: 90%;
  }

  .slick-slider {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.payments-list__label {
  margin: auto;
  font-family: Permanent Marker;
  font-size: 25px;
  color: brown;
  position: static;
  transform: translateY(7vw);
  margin-top: auto;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}