.media-main-slider {
  width: 100vw;
  height: 90vh; // Ajustado al tamaño de la imagen
  margin: auto;
  background: transparent;

  &__slider-container {
    height: 100%;
    width: 100%;
  }

  .slick-slider {
    height: 100%;

    .slick-list {
      height: 100%;
    }

    .slick-track {
      display: flex;
      align-items: center;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit:cover;
    }
    .slick-prev, .slick-next {
      
      width: 50px; // Ancho de la flecha
      height: 50px; // Alto de la flecha
      background-color: rgba(0, 0, 0, 0.5); // Fondo semitransparente para las flechas
      border-radius: 50%; // Hace que las flechas tengan un borde circular
      z-index: 1; // Asegura que las flechas estén encima del contenido
      color: white; // Color de la flecha
    }

    // Mover la flecha izquierda (prev)
    .slick-prev {
      left: 10px; // Ajusta la distancia desde el borde izquierdo
      top: 50%; // Centrar la flecha verticalmente
      transform: translateY(-50%); // Corregir la posición exacta
    }

    // Mover la flecha derecha (next)
    .slick-next {
      right: 30px; // Ajusta la distancia desde el borde derecho
      top: 50%; // Centrar la flecha verticalmente
      transform: translateY(-50%); // Corregir la posición exacta
    }
    *{
      width: 100%;
      height: 100%;
      background: transparent;
    }
  }
}

@media (max-width: 768px) {
  .media-main-slider {
    height: 60vh; // Ajustado al tamaño de la imagen
    margin: auto;
    background: transparent;
  
    &__slider-container {
      height: 100%;
      width: 100%;
    }
  
    .slick-slider {
      height: 100%;
       
      .slick-prev, .slick-next {
        
        width: 0px; // Ancho de la flecha
        height: 0px; // Alto de la flecha
        background-color: rgba(0, 0, 0, 0); // Fondo semitransparente para las flechas
        border-radius: 50%; // Hace que las flechas tengan un borde circular
        z-index: 1; // Asegura que las flechas estén encima del contenido
        color: white; // Color de la flecha
      }

      *{
        width: 100%;
        height: 100%;
        background: transparent;
      }
    }
  }
  } 
