.order-section {
  position: relative;
}

.order-section__arrow {
  position: relative;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.order-section__header{
  margin-top: 3%;
  border: 2px solid black;
  font-family: Permanent Marker;
  color: black;
  display: flex;

  
  &-date-wrapper{
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  
  h2{
    margin: auto;
    
  }
  label{
    margin: auto;
   
  }
  
}

.orders-section__empty{
    display: flex;
    height: 35vw;

    h2{
        justify-content: center;
        text-align: center;
        margin: auto;
    }
}

.order-section__items-wrapper {
  width: 80%;
  height: 25vw;
  margin: auto;
  position: relative;
  overflow: visible;
}

.slick-prev,
.slick-next {
  z-index: 20;
  width: 40px;
  height: 40px;
}

.slick-prev {
  left: -45px;
}

.slick-next {
  right: -45px;
}

.slick-prev::before,
.slick-next::before {
  color: gray !important;
  font-size: 32px;
  opacity: 1;

}

.order-section__bottom-wrapper{
  width: 100%;
  height: 7vw;
  background-color: aqua;
  display: flex;

  h3{
    margin: auto;
    font-family: Permanent Marker;
    color: black;
  }
}

 

