.order-section {
  position: relative;
}

.order-section__arrow {
  position: relative;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.order-section__header{
  margin-top: 3%;
  border: 2px solid black;
  font-family: Permanent Marker;
  color: black;
  display: flex;

  &-date-wrapper{
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  
  h2{
    margin: auto;
    
  }
  label{
    margin: auto;
   
  }
  
}

.orders-section__empty{
    display: flex;
    height: 35vw;

    h2{
        justify-content: center;
        text-align: center;
        margin: auto;
    }
}